<ion-header>
  <ion-toolbar>
    <ion-title>
      ESCRITA
    </ion-title>
    <ion-badge color="dark" slot="end">Nv. {{nivel}}</ion-badge>
    <ion-buttons slot="end">
      <ion-title>
        <ion-button (click)="profile()">
          <ion-icon name="person"></ion-icon>
        </ion-button>        
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button detail="true" [routerLink]="['/hiragana']">
      Hiragana
    </ion-item>
    <ion-item button disabled detail="true">
      Katakana
    </ion-item>
    <ion-item button disabled detail="true">
      Kanji
    </ion-item>
  </ion-list>
</ion-content>